<p>
  Your new friend Dendrerlum Cragpike the dwarf leads you into a small room lit with sentually sented candles. He holds out a small piece of old crumpled paper with mysterious writing on it. He tells you it is a protection spell you can use against one foe. You are just about to take spell from him when you notice a large glowing sword attached to the small dwarf's side.
</p>
<a routerLink="finalBoss">You accept the protection spell, thank the dwarf, he hands you a fresh torch and you head back out into the cavernous dungeon.</a><br>
<a routerLink="decline">You are suspicious of his generocity and don't think you could read the jumble of characters correctly anyways, so you decline the spell and decide to face what may come on your own.</a><br>
<a routerLink="attack">Protection spell be damned you want that shiny sword! You lunge forward to try to grab it from his side. Mr. Cragpike seems to be stronger than his statures lets on.</a>
