<p>You turn a corner and the dark tunnel opens up to a large hall. You squint into the dark depths of the room and you see a rather large unidentifiable figure perched atop some sort of mound.</p>
<p>Upon approaching the creature, you realize the mound upon which the beast is perched is the rotting remains of the beast's fallen foes. </p>
<p>All of a sudden the beast stirs as it notices you approaching; as it lifts its giant head and turns towards you step back in horror as you realize this boss is a giant Death Worm! You start to shriek as it opens its giant teeth lined mouth. As you try to reach into your leather satchel to retrieve the protection spell the worm begins to speak.</p>
<p>Death Worm belches a human femur, and queries you with a riddle. "What dampens as it dries? Answer correctly and I will give you safe passage. Otherwise I eat you."</p>

<input #answer placeholder="Your riddle answer">
<button (click)="answerRiddle(answer.value)">Submit</button>
